<!doctype html>
<head>
  <title>Six Things</title>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    .list-group-item .buttons {display: none;}
    .list-group-item:hover .buttons {display: block;}
  </style>
</head>
<body>
  <div class="container">
  <h1>Six Things</h1>
  <div class="row">
    {% for day in days %}
      <div class="col-sm-4">
        <h2>
          {{ day['name'].title() }}<br>
          <small>{{ day['date'].strftime('%B %-d, %Y') }}</small>
        </h2>
        <ul class="list-group">
          {% for thing in day['things'] %}
            <li class="list-group-item {% if thing.done %}active{% endif %}">
              <span class="buttons pull-right">
                {% if thing.done %}
                  <button class="btn-xs btn-info action action-undone" id="{{ thing.id }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                {% else %}
                  <button class="btn-xs btn-success action action-done" id="{{ thing.id }}">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  </button>
                  <button class="btn-xs btn-info action action-defer" id="{{ thing.id }}">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </button>
                {% endif %}
                <button class="btn-xs btn-primary action action-delete" id="{{ thing.id }}">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </span>
              <span {% if thing.done %}
                style="text-decoration:line-through"
              {% endif %}>
                {{ thing.text }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>What do you need to do tomorrow?</h2>
      {% if days[2]['things'].count() < 6 %}
        <form id="new" action="new/" method="post">
          <input name="csrfmiddlewaretoken" type="hidden" readonly value="{{ csrf_token }}">
          <input name="user" type="hidden" readonly value="{{ request.user.id }}">
          <input name="date" type="hidden" readonly value="{{ days[2]['date'].strftime('%Y-%m-%d') }}">
          <input name="text" class="form-control">
        </form>
      {% else %}
        <p>Six things already added for tomorrow.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Explanation</h2>
      <p>In 1918, Ivy Ledbetter Lee developed a simple productivity system:</p>
      <ol>
        <li>At the end of each workday, write down the six most important things you need to accomplish tomorrow. Do not write down more than six tasks.</li>
        <li>Prioritize those six items in order of their true importance.</li>
        <li>When you arrive tomorrow, concentrate only on the first task. Work until the first task is finished before moving on to the second task.</li>
        <li>Approach the rest of your list in the same fashion. At the end of the day, move any unfinished items to a new list of six tasks for the following day.</li>
        <li>Repeat this process every working day.</li>
      </ol>
    </div>
  </div>
  <script type="text/javascript">
    $("button.action").click(function(){
      var id = $(this).attr("id")
      var re = /(?:^|\s)action-(.*?)(?:\s|$)/g;
      var match = re.exec($(this).attr("class"));
      var action = match[1]
      if (action != undefined) {
        $.ajax({
          type: "POST",
          url: id + "/" + action + "/",
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id: id,
          },
          success: function() {
            location.reload()
          }
        })
      }
    })
  </script>
</body>