channels==0.17.2
django==1.10.1
django-bootstrap3==7.0.1
django-filter==0.14.0       #for djangorestframework
django-registration-redux==1.4
djangorestframework==3.4.6
gunicorn==19.6.0
jinja2==2.8
markdown==2.6.6             #for djangorestframework
pip-tools==1.7.0
