<!doctype html>
<head>
  <title>{% block title %}Six Things{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="application-name" content="Six Things">
  <meta name="description" content="">
  <meta name="author" content="wizpig64">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  {% block after_body %}
  {% endblock %}
</body>